@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: Poppins;
}

body {
    background-color: black;
    margin: 0%;
    align-items: center;
    min-width: 500px;
    z-index: 1;
}

.noise {
    position: absolute;
    width: 60%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.7;
}

/* Landing page */

a {
    text-decoration: none;
}

.logo {
    color: white;
}

h3.logo {
    font-size: 22.21px;
    margin: 0px;
    font-weight: 600;
}

h6.logo {
    font-size: 9.18px;
    letter-spacing: 4px;
    margin: 0px;
    margin-left: 20px;
    font-weight: 200;
}

div.navbar {
    display: flex;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

a.mail {
    margin-left: auto;
}

div.contact_button {
    background-color: rgb(255, 255, 255);
    justify-content: center;
    height: 35.19px;
    width: 101.55px;
    text-align: center;
    border-radius: 8.8px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, color 0.3s ease;
}

div.contact_button:hover {
    transform: scale(1.1);
}

p {
    font-size: 13.19px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
}

div.presentation {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sphere {
    width: 231px;
    height: 231px;
    background-color: #1A1A1A;
    border-radius: 150px;
    margin-top: 75px;
    overflow: hidden;
}

.bitmoji {
    max-width: 100%;
    height: auto;
    background-color: rgba(251, 251, 251, 0);
}

div.text {
    color: white;
}

h1.name {
    font-size: 40px;
    margin-bottom: 0px;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

h2.subtitle {
    font-size: 20px;
    color: #C9C9C9;
    font-weight: 400;
    margin: 0px;
}

.gradient_text {
    display: inline;
    background: linear-gradient(to right, #9C83FF, #FF9051);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 0px;
}

p.intro {
    color: #E1E1E1;
    margin-top: 30px;
    font-size: larger;
}

div.contact_button_2 {
    background-color: black;
    border: 1px solid #C9C9C9;
    border-radius: 30px;
    justify-content: center;
    color: white;
    text-decoration: none;
    height: 55px;
    width: 187px;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 75px auto; /* Change margin-top and margin-bottom to margin */
    transition: background-color 0.3s ease, color 0.3s ease;
}

div.contact_button_2:hover {
    background-color: #C9C9C9;
    color: black;
}

/* About Section */

section.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.about {
    color: white;
    font-size: 45px;
    margin: 0px;
    margin-top: 75px;
}

p.about {
    margin-left: 15px;
    max-width: 600px;
    color: white;
    font-size: large;
    margin-top: 50px;
}

/* Projects experience */

section.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.experience {
    color: white;
    font-size: 45px;
    margin: 0px;
    margin-top: 75px;
}

p.experience {
    margin-left: 15px;
    max-width: 600px;
    color: white;
    font-size: large;
    margin-top: 50px;
    text-align: center;
}

/* Projects Section */

section.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.card {
    display: flex;
    flex-direction: column;
    margin: 75px;
}

h1.project {
    color: white;
    font-size: 45px;
    margin: 0px;
    margin-top: 75px;
}

/* Individual card */
div.card {
    border: 2px solid whitesmoke;
    background-color: #C9C9C9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    margin: 15px;
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 900px;
}

div.card:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

div.card:hover a.card {
    color: wheat;
}

a.card {
    color: black;
    text-decoration: none;
    margin: 0px;
}

/* Card image */
.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.card-content h1 {
    margin: 0 0 5px;
    color: #333;
    font-size: 45px;
}

/* Réduire la marge entre le titre et le paragraphe */
.card-content p {
    margin: 5px 0 20px; /* Modifier la marge supérieure à 5px */
    color: #666;
    font-size: 1em;
    line-height: 1.5;
}

img.logos {
    width: 5%;
    height: 5%;
    margin: 10px 20px;
    margin-right: 50px;
}

div.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Credits */

section.credits {
    color: white;
    display: block; /* Change from flex to block */
    text-align: center;
    margin-bottom: 25px;
    padding: 0 20px; /* Add padding to ensure it doesn't touch the edges */
}

img.icon {
    height: 15px;
    margin: 5px;
    vertical-align: middle; /* Adjust vertical alignment */
}

a.link {
    color: rgb(170, 170, 170);
    text-decoration: none;
    margin-left: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

a.link:hover {
    color: white;
    transform: scale(1.02);
}

@media (max-width: 768px) {
    body {
        min-width: 100%;
        overflow-x: hidden;
    }

    .noise {
        width: 100%;
        height: auto;
    }

    div.navbar {
        display: none;
    }

    div.presentation {
        padding: 20px;
    }

    .sphere {
        width: 250px;
        height: 250px;
        margin-top: 50px;
    }

    h1.name {
        font-size: 30px;
    }

    h2.subtitle {
        font-size: 18px;
    }

    p.intro {
        font-size: medium;
    }

    div.contact_button_2 {
        width: 80%;
        margin: 20px auto;
        padding: 0 20px;
    }

    section.about, section.experience, section.project {
        padding: 20px;
    }

    h1.about, h1.experience, h1.project {
        font-size: 35px;
    }

    p.about, p.experience {
        font-size: medium;
        text-align: center;
    }

    section.card {
        margin: 20px;
    }

    div.card {
        flex-direction: column; /* Change to column for mobile */
        margin: 10px 0;
        align-items: center; /* Center align items */
    }

    img.logos {
        margin: 20px;
        width: 15%; /* Reduce width for mobile */
        height: auto;
    }

    div.description {
        margin: 20px;
        text-align: center; /* Center align text */
    }

    div.description h3 {
        margin-top: 0; /* Remove top margin */
    }

    div.description p {
        text-align: center; /* Center align paragraph */
    }

    section.credits {
        padding: 10px;
        text-align: center; /* Ensure text is centered on mobile */
    }
}
